
    .scrolly article {
        position: relative;
        }
    
        figure.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 5vh;
        height: 90vh;
        margin: 0px;
        background-color: #f1f1f1;
        text-align: center;
        border-radius: 6px;
        padding-top: 20px;
        margin-bottom: 50px;
        }
    
        .scrolly .step{
            width: 90%;
            margin:auto;
            height: 90vh;
            z-index: 20;
        }
    
        .scrolly .step p{
            line-height: 1.2;
            background-color: #ffffffc2;
            padding: 10px 25px;
            margin:0px;
            text-align: left;
        }
    
    
        @media only screen and (min-width: 600px) {
            .scrolly .step{
                    margin-left: auto;
                    margin-right: 10px;
                    width: 45%;
                    min-width: 250px;
            }
            figure.sticky {
                top: 18vh;
                height: 60vh;
    
                }
        }