
        .scrolly article {
            position: relative;
            z-index: 40;
            margin-bottom: 50px;
            pointer-events: none;
        }

    
        #contenedorGrafico.sticky,  .contenedorGrafico.sticky{
            position: -webkit-sticky;
            position: sticky;
            top: 5vh;
            height: 90vh;
            margin: 0px;
            background-color: #f1f1f1;
            text-align: center;
            border-radius: 3px;
            z-index: 1;
            margin-bottom: 120px;
        }
    

        .scrolly article{
            transform: translate3d(0,0,0);
            z-index: 3;
        }

        .scrolly .step{
            /* width: 90%; */
            margin:auto;
            height: 130vh;
            z-index: 100;
        }
    
        .scrolly .step p, .scrolly .stepFijo p{
            background-color: #ffffffe7;
            padding: 25px 20px;
            margin:0px;
            text-align: left;
            font-size: 0.82em;
            line-height: 1.3em;
            pointer-events: all;
        }
        
     
        .epigrafe{
            font-size: 10px;
            
            margin-top: 10px;
            color: #929292;
            font-weight: 100;
            position: absolute;
            bottom: 7px;
            width: 100%;
            text-align: center;
                }

        .step mark.label{
                color: white;
                font-weight: 100;
                padding: 1px;
            }
                
        img.imgMobile{
                display: block;
            }
        
        img.imgDesktop{
                display: none;
            }


        @media only screen and (min-width: 768px) {

            img.imgMobile{
                display: none;
            }

            img.imgDesktop{
                display: block;
            }

            .scrolly .step p, .scrolly .stepFijo p{
                margin-left: auto;
                background-color: #ffffffdf;
                margin-right: 10px;
                width: 45%;
                font-size: 0.88em;
                line-height: 1.3em;
                min-width: 250px;
            }

            .epigrafe{
                text-align: left;
                margin-left: 30px;
                        }

            .scrolly .stepFijo p{
                margin: auto;
                margin-bottom: 20px;
            }

            
        }

        @media only screen and (min-height: 650px) and (min-width: 768px) {
            #contenedorGrafico.sticky, .contenedorGrafico.sticky {
                top: 18vh;
                height: 60vh;
            }
        }
        
        @media only screen and (max-height: 650px) and (min-width: 768px) {
            #contenedorGrafico.sticky, .contenedorGrafico.sticky {
                top: 12vh;
                height: 80vh;
            }
        }
        
        
        @media (max-width: 567px){
        .post-body .note:not(.no-icon) {
            padding-left: 10px !important;
        }
    }


      